
@{
    ViewBag.Title = "";
}
<style type="text/css">
    .outdiv {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }
</style>


    <div class="outdiv">
        <br /><br />
        <h4>箱子主人没有设置任何密码，请联系业主或者选择付费开箱！</h4>
        <br /><br /><br />
        <button type="button" class="btn btn-info ect-colorf btnsubmit" onclick="window.location='/main/callmaster'">联系箱子主人</button>
        <br /><br /><br />
        <button type="button" class="btn btn-info ect-colorf btnsubmit" onclick="window.location = '/Pay/My/?type=kdpay'">付费&nbsp;&nbsp;开箱</button>
    </div>



