@{
    ViewBag.Title = "支付成功";
}

<script type="text/javascript">
    $(function () {
        hidhistory();
        hidmune();
    });
</script>
<div class="panel panel-default">
    <div class="panel-body" style="height:10em;">
        <a style="font-size:1.2em">恭喜您已经支付成功，重新回到微信扫描就可以使用啦！</a>
    </div>
</div>
