@{
    ViewBag.Title = "联系箱子主人";
}

<style type="text/css">
    .outdiv {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }
     .passinput {       
       /*margin-top: 2em;*/
    }
</style>


<div class="outdiv">
    <br /><br /><br /><br />
    <h4><a id="tel" href="tel:18600527610">18600527610</a></h4><br /><br />
        <a href="tel:18600527610"><button type="submit" class="btn btn-info ect-colorf ">拨打</button></a>
    <br /><br /><br />
</div>

