@{
    ViewBag.Title = "智裹裹操作列表";
}

<section class="flow-consignee ect-bg-colorf s-user-top onclik-admin myclick">

    <ul>       
        <li class="dis-box s-xian-box s-user-top-1" onclick="window.location='/cmd/sharebox'">
            <h3 class="profile-left-name text-all-span my-u-title-size">共享箱子</h3>
            <span class="t-jiantou"><i class="iconfont icon-gengduo"></i></span>
        </li>

        <li class="dis-box s-xian-box s-user-top-1" onclick="window.location = '/main/addcontrol?mid=@ViewBag.mid'">
            <h3 class="profile-left-name text-all-span my-u-title-size">设置密码</h3>
            <span class="t-jiantou"><i class="iconfont icon-gengduo"></i></span>
        </li>

        <li class="dis-box s-xian-box s-user-top-1" onclick="window.location = '/myinfo/orderlist'">
            <h3 class="profile-left-name text-all-span my-u-title-size">强行解锁</h3>
            <span class="t-jiantou"><i class="iconfont icon-gengduo"></i></span>
        </li>

        <li class="dis-box s-xian-box s-user-top-1" onclick="window.location = '/myinfo/orderlist'">
            <h3 class="profile-left-name text-all-span my-u-title-size">当前状态</h3>
            <span class="t-jiantou"><i class="iconfont icon-gengduo"></i></span>
        </li>
    </ul>

</section>
