@model IEnumerable<ncc2019.ZGGMachine>
  
@{
    ViewBag.Title = "智裹裹列表";

}
<style type="text/css">
    .boxitem{
        width:100% !important;
        background-color:burlywood;
    }
    .boxname{
        width:70%;
        float:left;
    }
    .submore{
        width:15%;
        float:right;
        text-align:center;
    }
    .subopen{
        width:15%;
         float:right;
         text-align:center;
    }
</style>
<section class="ect-margin-tb ect-margin-bottom0 ect-padding-lr checkout-select checkout-pro-list">

    <p><b>我的智裹裹</b></p>

    <ul>
        <li>
            <dl>
                @foreach (var item in Model)
                {
                    <dt class="boxitem" >
                        <a class="boxname" onclick="window.location = '/main/zggscan?mid=@ncc2019.Common.Tool.DESEncrypt.Encrypt(item.MachineID)'"> 智裹裹 @item.ShowCode</a>
                        <a class="submore" onclick="window.location = '/main/commandlist?mid=@ncc2019.Common.Tool.DESEncrypt.Encrypt(item.MachineID)'">更多</a>
                         <a class="subopen" onclick="window.location = '/main/zggscan?mid=@ncc2019.Common.Tool.DESEncrypt.Encrypt(item.MachineID)'">开门</a>
                        
                    </dt>
                }
            </dl>
        </li>
    </ul>
</section>

