@{
    ViewBag.Title = "没有权限";
}

<style type="text/css">
    .outdiv {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }
</style>


<div class="outdiv">
    <br /><br />
    <h4>对不起，您没有权限打开箱门！</h4>
    <br /><br /><br />
</div>
