
@{
    ViewBag.Title = "敬请期待";
}
<style type="text/css">
    .outdiv {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }

    red {
        color: orangered;
    }
</style>



    <div class="outdiv">
        <br /><br />
        <h4>程序员小哥正在没日没夜的开发中...</h4>
        <br /><br /><br />
    </div>

