@{
    ViewBag.Title = "我的吹风机";
}
<script type="text/javascript">
    $(function () {
        hidhistory();
        hidmune();
    });
</script>
<div class="panel panel-default" style="height:8em;">
    <div class="panel-body">
        <h4>@Html.Raw(ViewBag.message)</h4>
    </div>
    
    </div>
<div class="panel panel-default">
    <div class="panel-body">
        <img src="~/images/cfj/new.jpg" width="100%" style="border:none;" />
    </div>
    </div>