@model ncc2019.Goods
@{
    ViewBag.Title = "礼物详细";
}
<div class="goods-info ect-padding-tb" style="padding-top:0px;">
    <div class="tab-content">
        <div class="tab-pane tab-info active" id="one">
            @Html.Raw(Model.Desc)
        </div>

    </div>
</div>
