@{
    ViewBag.Title = "礼物已经被认领";
}
<script type="text/javascript">
    $(function () {
        $('.guanzhu').show();
    });
</script>
<div class="panel panel-default" style="height:100em">
    <div class="panel-body" style="margin: auto; text-align: center; padding-top: 50px;">
        <h3 style="margin-top:5em;">很遗憾此礼物已经被认领！</h3>
        <br />
        <a href="/" class="btn btn-info   ect-colorf  ">我也去选一款</a>
    </div>

</div>