@{
    ViewBag.Title = "用户登陆";
}
@*<link href="themes/ecmoban_vjia/style.css" rel="stylesheet" type="text/css" />*@
@*<script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/index.js"></script>*@
<div>
    @using (Html.BeginForm("DoLogin", "AdminLogin", FormMethod.Post, new { id = "loginform" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="usBox clearfix">
            <div class="usBox_1">
                <div class="login_tab">
                    <ul>
                        <li class="active"><a href="~/Admin">管理员登录</a></li>
                        @*<li><a href="~/Login/weixinlogin">微信登录</a></li>*@
                        @*<li><a href="~/Login/Reg">用户注册</a></li>*@
                    </ul>
                </div>

                <table width="100%" border="0" align="left" cellpadding="3" cellspacing="5">
                    <tr>
                        <td width="25%" align="right">用户名</td>
                        <td width="65%"><input name="loginname" id="uid" type="text" size="25" class="inputBg" /></td>
                    </tr>
                    <tr>
                        <td align="right">密码</td>
                        <td>
                            <input name="password" type="password" id="pwd" size="15" class="inputBg" />
                        </td>
                    </tr>
                   
                    <tr>
                        <td>&nbsp;</td>
                        <td align="left">
                            <input type="submit" name="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" class="myButton" style="cursor:pointer;" onclick="return userLogin()" />

                        </td>
                    </tr>
                    <tr><td bgcolor="#ffffff" colspan="2" align="center"> </td></tr>
                </table>

                <div class="blank"></div>
            </div>

        </div>

    }
</div>
<script type="text/javascript">
    function userLogin() {
        if ($('#uid').val() == "") {
            alert("用户名不能为空！");
            return false;
        }
        if ($('#pwd').val() == "") {
            alert("密码不能为空！");
            return false;
        }
        $('#loginform').submit();
        return true;
    }
</script>
