@{
    ViewBag.Title = "分类选择";
}
<style type="text/css">
    .sort li {
        float: left;
        margin-left: 5em;
        /*border:solid;
        border-width:1px;*/
        padding: 3px;
        margin-top: 2em;
        width: 5em;
        text-align: center;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('.con .ect-bg').hide();
    });
</script>
@{
    ViewBag.t = new Random().Next(0, 100000000);
}
<div class="con">
    <header class="ect-header ect-margin-tb ect-margin-lr text-center">
        <a href="javascript:history.go(-1)" class="pull-left ect-icon ect-icon1 ect-icon-history"></a>
        <span>分类选择</span>
        <a href="javascript:openSearch();" class="pull-right ect-icon ect-icon1 ect-icon-search1"></a>
    </header>
    <div class="panel panel-default ect-category-all ect-border-radius0">
        <ul class="sort">
            <li onclick="window.location = '/@ViewBag.control/search?key=校园生活&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/store.png" />
                <p>校园生活</p>
            </li>
            <li onclick="window.location = '/@ViewBag.control/search?key=女神频道&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/fashion.png" />
                <p>女神频道</p>
            </li>
            <li onclick="window.location = '/@ViewBag.control/search?key=型男频道&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/equipment.png" />
                <p>型男频道</p>
            </li>
            <li onclick="window.location = '/@ViewBag.control/search?key=吃货地带&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/donut.png" />
                <p>吃货地带</p>
            </li>
            @if (ViewBag.control != "zhongchou") { 
            <li onclick="window.location = '/@ViewBag.control/search?key=电子贺卡&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/mail.png" />
                <p>免费贺卡</p>
            </li>
            }
            <li onclick="window.location = '/@ViewBag.control/search?key=节日礼物&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/ebo-birthday.png" />
                <p>生日礼物</p>
            </li>
            <li onclick="window.location = '/@ViewBag.control/search?key=一本好书&t=@ViewBag.t&orderid=@ViewBag.orderid'">
                <img src="/images/book-bookmark-icon.png" />
                <p>一本好书</p>
            </li>
        </ul>
        @*<ul>
            @foreach (var item in Model)
            {
                <a href="/guide/search?key=@item.Name&orderid=@ViewBag.orderid">
                    <li class="">
                        <div class="media panel-body">
                            <div class="pull-left ect-category-right">
                                <h3>@item.Name</h3>

                                <h5></h5>
                            </div>
                            <i class="fa fa-angle-right ect-transition05"></i>

                        </div>

                    </li>
                </a>
            }
        </ul>*@
    </div>
</div>
