@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .main {
        position: fixed;
        top: 0;
        
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        max-width:640px;
        z-index: 20000;
        
        
        text-align:center;
       
    }
        .main button {
            display: table-cell;
            vertical-align: middle;
        }
</style>
<script type="text/javascript">
    $(function () {
        $('.con .ect-bg').hide();
    });
</script>
<div class="main">
    <button type="button" class="btn btn-info ect-colorf" onclick="window.location='/guide/sendto'">点击进入</button>
</div>
