@{
    ViewBag.Title = "祝福Ta一下";
}
<div class="panel panel-default ect-category-all ect-border-radius0">
    <ul>

        <li class="" onclick="window.location = '/guide/toword?orderid=@ViewBag.orderid'">
            <div class="media panel-body">
                <div class="pull-left ect-category-right">
                    <h3>写几行文字</h3>
                    <h5></h5>
                </div>
                <i class="fa fa-angle-right ect-transition05"></i>
            </div>
        </li>
        <li class="">
            <div class="media panel-body">
                <div class="pull-left ect-category-right">
                    <h3>录一段语音</h3>
                    <h5></h5>
                </div>
                <i class="fa fa-angle-right ect-transition05"></i>
            </div>
        </li>

    </ul>
</div>