@{
    ViewBag.Title = "请选择赠送对象";
}

<div class="panel panel-default ect-category-all ect-border-radius0">
    <ul>

        <li class="" onclick="window.location = '/guide/COrder?forme=0'">
            <div class="media panel-body">
                <div class="pull-left ect-category-right">
                    <h3>送朋友</h3>
                    <h5></h5>
                </div>
                <i class="fa fa-angle-right ect-transition05"></i>
            </div>
        </li>
        <li class="" onclick="window.location = '/guide/COrder?forme=1'">
            <div class="media panel-body">
                <div class="pull-left ect-category-right">
                    <h3>送自己</h3>
                    <h5></h5>
                </div>
                <i class="fa fa-angle-right ect-transition05"></i>
            </div>
        </li>

    </ul>
</div>

