@{
    ViewBag.Title = "资助成功";
}

<div class="panel panel-default">
    <div class="panel-body" style="text-align:center;">
        <div style="height:4em"></div>
        <h3> 恭喜你资助Ta成功！</h3>
        <br /><br />
        <button type="button" class="btn btn-info ect-colorf" onclick="window.location='/zhongchou/showlist'">返回众筹墙</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-info ect-colorf" onclick="window.location='/zhongchou/'">我也众筹一个</button>
        <div style="height:4em">
    </div>
    </div>
</div>