@{
    ViewBag.Title = "参与成功";
}

<div class="panel panel-default">
    <div class="panel-body" style="text-align:center;">
        <div style="height:4em"></div>
        <h3> 恭喜你众筹成功！</h3>
        <br /><br />
        <h4>众筹结束后30天内我们将陆续派发智裹裹快递箱，请保持电话畅通。</h4>
        <br /><br />
        
        <div style="height:4em">
        </div>
    </div>
</div>