@{
    ViewBag.Title = "找回密码";
}

<div class="usBox">
    <div class="usBox_1">
        <div style="height:100px;"></div>
        @using (Html.BeginForm("DoGetPassword", "Login"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>请输入您的电子邮箱地址：</td>
                    <td><input type="text" name="email" class="inputBg" value="416402144@qq.com" /></td>
                </tr>
                <tr style="height:100px;">
                    <td colspan="2" style="text-align:center;">
                        <input name="Submit" type="submit" value="提&nbsp;&nbsp;&nbsp;&nbsp;交" style="cursor:pointer;" class="myButton">
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
