@{
    ViewBag.Title = "找回密码";
}
<style type="text/css">
    .bodydiv {
        height: 300px;
        width: 500px;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        line-height: 300px;
    }

        .bodydiv h2, .bodydiv a {
            float: left;
        }

        .bodydiv a {
            padding-left: 30px;
        }
</style>
<div class="blank5"></div>

<div class="block clearfix">

    <div class="usBox">
        <div class="box">
            <div class="bodydiv">
                <h2>找回密码成功！请登陆您的邮箱进行查收。</h2><a href="/" style="text-decoration:underline;">点击返回首页</a>
            </div>
        </div>
    </div>
</div>
