@{
    ViewBag.Title = "注册成功";
}
<style type="text/css">
    .textcenter{
        margin:auto;
        width:100%;
        text-align:center;
        height:300px;
        line-height:300px;
    }
</style>
<script type="text/javascript">
    $(function () {
        setInterval(jumpurl, 1000);
    });
    function jumpurl() {
        window.location = "/";
    }
</script>
<div class="Area textcenter">
    
    <h2>恭喜您，已经注册成功正在等待自动跳转！</h2>
</div>