@{
    ViewBag.Title = "领取成功";
}

<div class="panel-body text-center">
    <h3 style="margin-top:50px">恭喜您成功领取优惠券！</h3>
    <br />
    <br />
    <button class="btn btn-info" onclick="window.location='/my/quan'">查看我的优惠券</button>
</div>
