@{
    ViewBag.Title = "领取失败";
}

<div class="panel-body text-center">
    <h3 style="margin-top:50px">@ViewBag.message</h3>
    <br />
    <br />
    <button class="btn btn-info" onclick="window.location='/'">随便逛逛</button>
</div>
