@{
    ViewBag.Title = "修改密码";
}

<style type="text/css">
    .userCenterBox td {
        margin-top: 10px;
        line-height: 30px;
    }

    .userCenterBox input {
        margin-top: 5px;
        margin-bottom: 5px;
        /*margin-right:10px;*/
    }

    .inputBg {
        width: 90%;
        margin-right: 10px;
    }
</style>
<script type="text/javascript">
    function checkpass() {
        if ($('#passwordold').val()=="") {
            showAlertMessage("旧密码不能为空！");
            return false;
        }
        if ($('#passwordnew').val() == "") {
            showAlertMessage("新密码不能为空！");
            return false;
        }
        if ($('#passwordre').val() == "") {
            showAlertMessage("请重复输入新密码！");
            return false;
        }
        if ($('#passwordre').val() != $('#passwordnew').val()) {
            showAlertMessage("两次输入的密码不一致！");
            return false;
        }
        $('#changepwd').submit();
        return true;
    }
</script>
<div class="panel-body">
    @using (Html.BeginForm("DoChangePwd", "My", FormMethod.Post, new { id = "changepwd" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div style="_height: 1%;" class="userCenterBox boxCenterList clearfix">

            <div class="blank"></div>
            <table border="0" align="left" cellpadding="3" cellspacing="5" width="100%">
                <tr>
                    <td align="right" width="100px">旧密码：</td>
                    <td>
                        <input name="passwordold" type="password" id="passwordold" size="20" class="inputBg" />

                    </td>
                </tr>
                <tr>
                    <td align="right">新密码：</td>
                    <td>
                        <input name="passwordnew" type="password" id="passwordnew" size="20" class="inputBg" />

                    </td>
                </tr>
                <tr>
                    <td align="right">重复新密码：</td>
                    <td>
                        <input name="passwordre" type="password" id="passwordre" size="20" class="inputBg" />

                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        @*<button type="submit" class="btn btn-info ect-btn-info ect-colorf btnbottom" value="保存" onclick="return checkpass()" >保存</button>*@
                    </td>
                </tr>
            </table>
        </div>
      
    }
</div>

<div class="btnpanel">
    <button type="button" class="btn btn-info ect-colorf button_only" value="保存" onclick="return checkpass()">保存</button>
</div>