<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->


    <target xsi:type="File" name="fn" fileName="${basedir}/log/n${shortdate}.log"
				layout="${longdate} ${stacktrace} ${message}" />
    <target xsi:type="File" name="fe" fileName="${basedir}/log/e${shortdate}.log"
				layout="${longdate} ${stacktrace} ${message}" />
    <target xsi:type="File" name="fw" fileName="${basedir}/log/w${shortdate}.log"
				layout="${longdate} ${stacktrace} ${message}" />
    <target xsi:type="File" name="sub" fileName="${basedir}/log/sub${shortdate}.log"
				layout="${message}" />
    <target xsi:type="File" name="warn" fileName="${basedir}/log/warn${shortdate}.log"
       layout="${message}" />
    <target xsi:type="Console" name="c"
				   layout="${longdate} ${stacktrace} ${message}" />

  <target xsi:type="Database" name="db" KeepConnection="true">
    <!-- SQL command to be executed for each entry -->
    <commandText>insert into MailMonitorLog(mailmonitorlogid,Content,type,t_adddate) values(SEQ_TK_MAILMONITORLOGID.nextval, :MESSAGE,2,sysdate)</commandText>

    <!-- parameters for the command -->
    <parameter name ="MESSAGE" layout="${message}" />
    
    
    <!-- connection string -->
    <dbProvider>System.Data.OracleClient.OracleConnection,System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</dbProvider>
    <connectionString>Data Source=xe;User Id=monitor;Password=monitorpass;Integrated Security=no;</connectionString>
  </target>
    <target xsi:type="Database" name="db2">
      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>server=.;database=FD_WorkBase;uid=sa;pwd=mycos1234</connectionString>
      <!-- SQL command to be executed for each entry -->
      <commandText>insert into mylog(message) values(@MESSAGE)</commandText>
      <!-- parameters for the command -->
      <parameter name ="MESSAGE" layout="${message}" />

      
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="n" minlevel="Debug" writeTo="fn" />
    <logger name="e" minlevel="Debug" writeTo="fe,c" />
    <logger name="w" minlevel="Debug" writeTo="fw" />
    <logger name="sub" minlevel="Debug" writeTo="sub" />
    <logger name="warn" minlevel="Debug" writeTo="warn" />
    <logger name="database" minlevel="Debug" writeTo="db" />
  </rules>
</nlog>