@{
    ViewBag.Title = "请求出错";
}
<div class="blank5"></div>

<div class="block clearfix">


    <div class="usBox">
        <div class="box">
            <div style="height:100px;width:500px;margin:auto;text-align:center;">
                <h3>出错啦！</h3>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">点击返回首页</a>
            </div>
        </div>
    </div>
</div>
