@{
    ViewBag.Title = "修改密码";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#changepwd").validate({
            rules: {
                passwordold: {
                    required: true
                }, passwordnew: {
                    required: true
                }, passwordre: {
                    required: true

                }
            },
            messages: {
                passwordold: {
                    required: "密码不能为空"
                }, passwordnew: {
                    required: "密码不能为空"
                }, passwordre: {
                    required: "密码不能为空"

                }
            }
        });
    });
    function checkpass() {
        if ($('#passwordnew').val() != $('#passwordre').val()) {
            alert("两次输入的密码不同!");
            return false;
        }
        return true;
    }
</script>
<div class="blank5"></div>

<div class="block clearfix">

    @Html.Partial("~/views/part/MyLeft.cshtml", ncc2019.Common.Enum.MyPageType.ChangePass);
    <div class="AreaR">
        <div class="box">
            <div class="box_1">
                @using (Html.BeginForm("DoChangePwd", "My", FormMethod.Post, new { id = "changepwd" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
  
                    <div style="_height: 1%;" class="userCenterBox boxCenterList clearfix">

                        <h5><span>修改密码</span></h5>
                        
                        <div class="blank"></div>
                        <table border="0" align="left" cellpadding="3" cellspacing="5">
                            <tr>
                                <td align="right">旧密码</td>
                                <td>
                                    <input name="passwordold" type="password" id="passwordold" size="20" class="inputBg" />
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="right">新密码</td>
                                <td>
                                    <input name="passwordnew" type="password" id="passwordnew" size="20" class="inputBg" />
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="right">重复新密码</td>
                                <td>
                                    <input name="passwordre" type="password" id="passwordre" size="20" class="inputBg" />
                                    
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <input type="submit" class="myButton" value="保   存" onclick="return checkpass()" />
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
